$font-color: #ffffff;
$main-color: #060e15;
$gold-color: #a16b01;
$grey-color: #f2f2f2;
$border-color: #ffffff;
$border-color2: #969696;

@font-face {
	font-family: "foncik";
	src: url("../fonts/DMSans.ttf") format("truetype");
}
